div.gallery-image {
    background-image: url('dept sign.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    box-shadow: -10px 10px 0px rgb(9, 5, 46);
    flex: 0 0 32%;
    height: 300px;
    margin-bottom: 20px;
}
div.gallery{
    background-color: rgb(218, 213, 255);
    margin: 0;
    padding: 10px clamp(70pt, 20%, 300px) 100px clamp(70pt, 20%, 300px);
}
h1.gallery{
    margin: 50px 0;
    font-size: 250%;
    color: rgb(9, 5, 46);
}
.grid {
    grid-gap: 18px;
    display: flex;                  
    flex-wrap: wrap;                    
    justify-content: space-around;
}
.grid {
    display: flex;                       /* establish flex container */
    flex-wrap: wrap;                     /* enable flex items to wrap */
    justify-content: space-around;
}
@media (max-width: 1300px)
{
    .grid {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    div.gallery-image {
        flex: 0 0 auto;
    }
}